@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* </style>
CSS rules to specify families */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* font-family: 'Roboto', sans-serif; */
/* CSS rules to specify families */

* {
  margin: 0%;
  padding: 0%;
  font-family: "Montserrat", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  background-color: #fafafa;
}
input,
textarea {
  outline: none;
}
input[type="checkbox"] {
  margin: 0 8px;
  box-sizing: border-box;
}
.password-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
